.footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__left__logo {
    width: 11rem;
    height: 3.125rem;
}

.footer__left__links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.footer__left__link {
    color: var(--col-main-text);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;
}

@media (min-width: 768px) {
    .footer__left {
        align-items: flex-start;
        width: 36%;
    }

    .footer__left__links {
        align-items: flex-start;
        gap: 1.5rem;
    }
}

@media (min-width: 1224px) {
    .footer__left {
        flex-direction: row;
        gap: 7rem;
        width: 50%;
    }
}